html {
    background-color: black;
    overflow-x: hidden;
    overflow-y: hidden;
}

body {
    font-family: 'Press Start 2P', serif;

}

h1 {
    color: white;
    font-size: 26px;
}

.current, .last{
     padding-left: 50px;
     width: inherit;
}

.title {
    width: 350px;
}

.tracker {
    margin: auto;
    width: 440px;
}

.form {
    display: flex;
    flex-direction: column;
    width: 250px;
    height: 200px;
    margin: auto;
}

.input_label {
    color: white;
}

#submit {
    font-family: 'Press Start', serif;
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
}

#submit-lastRun {
    font-family: 'Press Start', serif;
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
}

.name {
    margin-left: 50px;
}

label {
    color: inherit;
}
