html {
    background-color: black;
    color: #FFFFFF;
    overflow-x: hidden;
    overflow-y: hidden;
    font-size: 14px;
}

body {
    font-family: 'Press Start 2P', serif;
    margin: 0;
}

h1 {
    font-size: inherit;
}

.last{
    width: inherit;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.title {
    width: inherit;
    text-align: center;
}

.tracker {
    margin: auto;
    width: 440px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: auto;
    padding-left: 5px;
}

.name {
    text-align: center;
}

.image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100px;
}

.image-item {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75px;
}

.current {
    visibility: hidden;
}